html {
  height: 100%;
}

* {
  font-family: 'Rajdhani', sans-serif !important;
}

.main-index * {
  color: white;
  font-family: 'Rajdhani', sans-serif !important;
}

div.main-index {
  margin: 32px;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.main {
  margin: 0 auto;
}

.main__content {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  pointer-events: none;
}

.main__content-image {
  pointer-events: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 10px;
}

.main__content-canvas {
  position: absolute;
  top: 10px;
}

.main__content-text-wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 24px;
}

.main__content-text {
  margin-top: 8px;
}

.main__content-src-image {
  display: none;
}

@media(min-width: 1000px) {
  .main__content-text-wrapper{
    flex-direction: row;
    margin-top: 8px;
  }
}

